# 2.2 Práctica. Análisis, implementación y prueba de una máquina de aprendizaje no supervisado.

## Introducción de la actividad.

Las máquinas con aprendizaje no supervisado se utilizan cuando el sistema de aprendizaje necesita reconocer similitudes o características de los datos de entrada. El análisis, implementación y prueba de una máquina de aprendizaje no supervisado permitirá comprender el funcionamiento de forma clara y precisa.

## Propósito de la actividad

Comprender el funcionamiento de una máquina de aprendizaje no supervisado.

## Instrucciones.

Analicé, implemente y pruebe una máquina de aprendizaje no supervisado, la implementación de la máquina será en el lenguaje de su preferencia. La práctica deberá ser presentada en un archivo PDF, que deberá contener:

- Portada.

- Análisis de la máquina de aprendizaje no supervisado (funcionamiento del algoritmo).

- Implementación de la máquina de aprendizaje no supervisado (implementación del algoritmo).

- Prueba de la máquina de aprendizaje no supervisado (prueba del algoritmo).

- Conclusiones.

## Dependencias

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

## Dataset

Para este caso vamos a utilizar un dataset simple que muestra la edad de usuarios y la cantidad de visitas a la semana a un gimnasio.

In [13]:
data = {
    "Edad": [18, 20, 22, 25, 27, 30, 35, 38, 40, 45, 50, 55],
    "Visitas_por_semana": [1, 2, 1, 3, 2, 4, 3, 4, 5, 6, 5, 6],
}

df = pd.DataFrame(data)

df

    Edad  Visitas_por_semana
0     18                   1
1     20                   2
2     22                   1
3     25                   3
4     27                   2
5     30                   4
6     35                   3
7     38                   4
8     40                   5
9     45                   6
10    50                   5
11    55                   6

### Escalamiento de datos

Para evitar errores en el algoritmo vamos a realizar un escalamiento de datos haciendo uso de `MinMaxScaler` que es un objeto de scikit-learn que hace el escalamiento de los datos por nosotros.

In [14]:
escalador = MinMaxScaler().fit(df)

df = pd.DataFrame(escalador.transform(df), columns=df.columns)

df

        Edad  Visitas_por_semana
0   0.000000                 0.0
1   0.054054                 0.2
2   0.108108                 0.0
3   0.189189                 0.4
4   0.243243                 0.2
5   0.324324                 0.6
6   0.459459                 0.4
7   0.540541                 0.6
8   0.594595                 0.8
9   0.729730                 1.0
10  0.864865                 0.8
11  1.000000                 1.0

## Referencias

[Repositorio de GitHub con Jupiter Notebook de la Practica.](https://github.com/RKCbas/Maestria-en-Inteligencia-Artificial---Practicas/blob/main/Cuatrimestre%201/2%20-%20Inteligencia%20artificial%20en%20la%20transformacion%20digital/Practica%202.2.ipynb)